-- =====================================================================
-- Migration 006 ΓÇö Official password authentication + admin system
-- Government officials log in with email + password (not OTP).
-- Admin (PLATFORM_ADMIN) manages official access at /admin.
-- =====================================================================

-- Backfill: live databases created from an earlier base schema predate the
-- users.password_hash column (001 was applied before it was added there).
ALTER TABLE users
    ADD COLUMN IF NOT EXISTS password_hash STRING;

-- Password storage for officials (email + password login)
ALTER TABLE officials
    ADD COLUMN IF NOT EXISTS password_hash STRING;

ALTER TABLE officials
    ADD COLUMN IF NOT EXISTS password_set_at TIMESTAMPTZ;

-- Password reset flow
ALTER TABLE officials
    ADD COLUMN IF NOT EXISTS reset_token STRING;

ALTER TABLE officials
    ADD COLUMN IF NOT EXISTS reset_token_expires TIMESTAMPTZ;

-- Track who added the official (admin who granted access)
ALTER TABLE officials
    ADD COLUMN IF NOT EXISTS added_by STRING;

-- Index for reset token lookups
CREATE INDEX IF NOT EXISTS officials_reset_token_idx ON officials(reset_token) WHERE reset_token IS NOT NULL;

-- =====================================================================
-- Seed the PLATFORM_ADMIN user (GDR 000000).
-- Password: 18thDimension@369  (scrypt hash: salt:derived)
-- This is the master admin account; it cannot be created through the UI.
-- =====================================================================
